<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="GEN3-7DOF-VISION_ARM_URDF_V12">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import GEN3-7DOF-VISION_ARM_URDF_V12 urdf file -->
    <xacro:include filename="$(find gen3)/config/gen3_7dof_panda_gripper.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find gen3)/config/GEN3-7DOF-VISION_ARM_URDF_V12.ros2_control.xacro" />

    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <parameters>$(find gen3)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>


    <xacro:GEN3-7DOF-VISION_ARM_URDF_V12_ros2_control name="system" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
